<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
	<title>Become an Affiliate | Join the Admins</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='af.css') }}">
</head>
<body>
	<header>
		<h1>Become an Affiliate</h1>
		<p>Join the Admins</p>
	</header>
	<section>
		<h2>Why Join Our Affiliate Program?</h2>
		<ul>
			<li>Get paid for System you hack!</li>
			<li>Dedicated Command and Control Servers</li>
			<li>24/7 support from our team</li>
		</ul>
		<a href="{{ url_for('user_successful_registration') }}" class="button">Join Now</a>
		<br><br>
		<a href="{{ url_for('redirect_to_index') }}" class="button">Homepage</a>
		</br>
	</section>
	<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
