<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>login failed</title>

  <!-- Style -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style lang="css">
    .center {
        min-height: 100%;
        min-height: 100vh; /* Fallback for browsers do NOT support vh unit */
        margin: 0;
        display: flex;
        align-items: center;
    }
  </style>
</head>
<nav class="navbar navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ url_for('redirect_to_homepage') }}">Zero Day Market</a>
		  </div>
  </nav>

  <div class="jumbotron text-center center">
    <div class="container">
      <h1 class="display-3">Username or Password Wrong 😢</h1>
      </br>
      <div class="row">
        <div class="col-sm-4 mx-auto">
          <form action="{{ url_for('redirect_to_index') }}" method="POST">
            <button class="btn btn-warning btn-lg btn-block" type="submit">login</button>
            </form>	
        </div>
		<br>
		  <div class="alert alert-danger d-flex align-items-center" role="alert">
			<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
			<div>
				Your account might be locked due to multiple failed logon attempts
			</div>
		  </div>
      </div>
    </div>
	
  </div>
</body>
</html>